@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Zen+Maru+Gothic&display=swap');
.kiwi-maru-regular {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
  }

html body{
    font-family: "Kiwi Maru";
    margin: 0;
    display: grid;
    grid-template-columns: 60px 180px 1fr;
}

#room{
    background-color: #58A5DC;
    height: 100vh;
    grid-column: 1 / 2;
}
    #rooms{
        height: calc(100vh - 60px);
    }
    #rooms img{
        width: 50px;
        height: 50px;
        margin: 0 4px 0 4px;
        border-radius: 50%;
        border: 2px solid #000000;
    }
        #rooms img:first-child{
            margin-top: 5px;
        }
        #rooms img:hover{
            border-radius: 20%;
        }
    
    #setting{
        background: none;
        border: none;
        width: 52px;
        height: 52px;
        margin: 0 4px 0 4px;
        padding: 0;
        border-radius: 20%;
    }
    #setting:hover{
        background-color: #ffffff95;
    }
    #setting img{
        width: 30px;
    }


#channel{
background-color: #658CA8;
height: 100vh;
grid-column: 2 / 3;
}
    #servername{
        box-shadow: 0px 5px 5px -3px #00000048;
        height: 45px;
    }
        #servername:hover{
            background-color: #8ebfe2;
        }
        #servername h2{
            font-size: 1.25em;
            margin: 0;
            padding: 0.25em 0 0.25em 4px;
            color: #fff;
        }

    #channels{
        margin-top: 7px;
        height: calc(100vh - 102px);
    }

        .channel_folder{
            display: block;
            margin: 0 0 0 0;
            margin : 0 7.5px 3px 7.5px;
            padding: 3px 7.5px 3px 7.5px;
            line-height: 1;
            border-radius: 0.25em;
            font-size: 0.85em;
            color :#fff;
            cursor :pointer;
        }
        .channel_folder::before{
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            background-image: url('./open.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        #server_info:checked ~ .channel_folder::before{
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            background-image: url('./close.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        #server_infos{
            padding-left: 0;
            margin-top: 0;
        }

        #server_infos li{
            list-style: none;
            border-radius: 0.25em;
            margin: 3px 1em;
        }
        #server_infos li a{
            text-decoration: none;
            color: #fff;
        }
        #server_infos li:hover{
            background-color: #e1def083;
        }
        .channel_folder:hover{
            background-color: #e1def083;
        }
        .channel_opener{
            display: none;
        }

        #server_info:checked ~ #server_infos li {
            display: none;
        }

    #account{
        height: 50px;
        display: flex;
        box-shadow: 0px -5px 5px -3px #00000048;
    }
        #account img{
            margin: 10px 5px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
        #account p{
            color: #fff;
        }

#talk{
    background-color: white;
    height: 100vh;
    grid-column: 3 / 4;
}
    #title{
        height: 45px;
    }
    #talking{
        height: calc(100vh - 95px);
    }
    #send{
        height: 50px;
        box-shadow: 0px -5px 5px -3px #00000048;
        display: flex;
    }
        .file_button{
            background: none;
            border: none;
            background-size: cover;
            width: 40px;
            height: 40px;
            margin: 5px;
            border-radius: 50%;
        }
        .file_button:hover{
            background-color: #f5f5f5;
        }
            #file_other{
                background-image: url(./file_plus.svg);
                margin-right: 0;
            }
            #file_select{
                background-image: url(./file.svg);
                margin-left: 0;
            }

        #sendtext{
            border: none;
            width: calc(100% - 100px);
            padding: 0 10px;
            height: 36px;
            border-radius: 18px;
            margin: 7px 0;
            box-shadow: 0px 0px 5px 0px #00000026;
            display: flex;
            align-items: center;  /* 縦方向の中央揃え */
        }
        #sendtext textarea{
            border: none;
            height: 1.2em;
            width: 100%;
        }
        #sendtext:has(textarea:focus){
            box-shadow: inset 0px 0px 5px 0px #00000026;
            background-color: #fafafa;
        }
        #sendtext textarea:focus{
            outline: none;
            background-color: #fafafa;
        }

        #messege_submit{
            background: none;
            border: none;
            background-image: url(./send.svg);
            background-size: cover;
            width: 40px;
            height: 40px;
            margin: 5px 5px 5px 0;
            border-radius: 50%;
        }
        #messege_submit:hover{
            background-color: #f5f5f5;
        }