@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Zen+Maru+Gothic&display=swap');
.kiwi-maru-regular {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
  }

html body{
    font-family: "Kiwi Maru";
    margin: 0;
    display: grid;
    grid-template-columns: 60px 180px 1fr;
}

#room{
    background-color: #7c84f0;
    height: 100vh;
    grid-column: 1 / 2;
}
    #rooms{
        height: calc(100vh - 60px);
    }
    #rooms img{
        width: 50px;
        height: 50px;
        margin: 0 4px 0 4px;
        border-radius: 50%;
        border: 2px solid #000000;
    }
        #rooms img:first-child{
            margin-top: 5px;
        }
        #rooms img:hover{
            border-radius: 20%;
        }
    
    #setting{
        background: none;
        border: none;
        width: 52px;
        height: 52px;
        margin: 0 4px 0 4px;
        padding: 0;
        border-radius: 20%;
    }
    #setting:hover{
        background-color: #ffffff95;
    }
    #setting img{
        width: 30px;
    }


#channel{
background-color: #5a63e9;
height: 100vh;
grid-column: 2 / 3;
}
    #servername{
        box-shadow: 0px 5px 5px -3px #00000048
    }
        #servername:hover{
            background-color: #878ef1;
        }
        #servername h2{
            font-size: 1.25em;
            margin: 0;
            padding: 0.25em 0 0.25em 4px;
            color: #fff;
        }

        .channel_folder::before{
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            background-image: url('./open.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        #server_info:checked ~ .channel_folder::before{
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            background-image: url('./close.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        #server_infos{
            padding-left: 0;
        }

        #server_infos li{
            list-style: none;
            border-radius: 0.25em;
            margin: 3px 1em;
        }
        #server_infos li a{
            text-decoration: none;
            color: #fff;
        }
        #server_infos li:hover{
            background-color: #e1def083;
        }

        .channel_folder{
            display: block;
            margin: 0 0 0 0;
            padding : 10px 0 0 15px;
            line-height: 1;
            font-size: 0.85em;
            color :#fff;
            cursor :pointer;
        }
        .channel_opener{
            display: none;
        }

    #server_info:checked ~ #server_infos li {
        display: none;
    }

#talk{
    background-color: #e1def0;
    height: 100vh;
    grid-column: 3 / 4;
}