@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Zen+Maru+Gothic&display=swap');
.kiwi-maru-regular {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
  }

html body{
    font-family: "Kiwi Maru";
    margin: 0;
    display: grid;
    grid-template-columns: 60px 180px 1fr;
}

#room{
    background-color: #4b718d;
    height: 100vh;
    grid-column: 1 / 2;
}
    #rooms{
        height: calc(100vh - 60px);
    }
    #rooms img{
        width: 36px;
        height: 36px;
        padding: 7px;
        margin: 0 4px 0 4px;
        border-radius: 20%;
    }
        #rooms a{
            border-radius: 20%;
        }

        #rooms img:first-child{
            margin-top: 5px;
        }
        #rooms img:hover{
            background-color: #689ec5;
        }
    
    #setting{
        background: none;
        border: none;
        width: 52px;
        height: 52px;
        padding: 0;
    }
    #setting img:hover{
        background-color: #ffffff95;
    }
    #setting img{
        width: 30px;
        border-radius: 20%;
        padding: 11px;
    }


#channel{
background-color: #283c4a;
height: 100vh;
grid-column: 2 / 3;
}

    #channels{
        margin-top: 7px;
        height: calc(100vh - 57px);
    }

        .channel_folder{
            display: block;
            margin: 0 0 0 0;
            margin : 0 7.5px 3px 7.5px;
            padding: 3px 7.5px 3px 7.5px;
            line-height: 1;
            border-radius: 0.25em;
            font-size: 0.85em;
            color :#fff;
            cursor :pointer;
        }
        .channel_folder::before{
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            background-image: url('./icons/open.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        #server_info:checked ~ .channel_folder::before{
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            background-image: url('./icons/close.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        #server_infos{
            padding-left: 0;
            margin-top: 0;
        }

        #server_infos li{
            list-style: none;
            border-radius: 0.25em;
            margin: 3px 1em;
        }
        #server_infos li a{
            text-decoration: none;
            color: #fff;
        }
        #server_infos li:hover{
            background-color: #e1def083;
        }
        .channel_folder:hover{
            background-color: #e1def083;
        }
        .channel_opener{
            display: none;
        }

        #server_info:checked ~ #server_infos li {
            display: none;
        }

    #account{
        height: 50px;
        display: flex;
        box-shadow: 0px -5px 5px -3px #00000048;
    }
        #account img{
            margin: 10px 5px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
        #account p{
            color: #fff;
        }

#talk{
    background-color: #eef4f8;
    height: 100vh;
    grid-column: 3 / 4;
}