#talk{
    height: 100vh;

}

#talk h1{
    margin: 5px;
}

#items{
    margin-top: 1em;
    width: 100%;
}

.card{
    display: flex;
    margin: 10px 20px;
}

    .card .watchbutton{
        background-color: #ffffff;
        text-decoration: none;
        height: 60px;
        width: calc(100% - 100px);
        padding: 5px 20px;
        border-radius: 10px 0 0 10px;
    }
    .card .watchbutton:hover{
        background-color: #eff8ff;
    }

        .card .watchbutton h3{
            margin: 0;
            font-size: x-large;
        }
        .card .watchbutton p{
            margin: 0;
        }

    .card .more{
        height: 70px;
        width: 100px;
        border-radius: 0 10px 10px 0;
        background-color: #58A5DC;
    }

    .card .more img{
        height: 50px;
        margin: 10px 10px 10px 15px;
    }

    .card .more:hover{
        background-color: #81c3fd;
    }